body {
	margin: 0;
	padding: 0;
	width: 550px;
	font-family: 'Poppins', sans-serif;
}

/* nav.js begin */
.nav-container {
	display: flex;
  	align-items: center;
  	padding: 0.5rem;
  	box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
.nav-logo {
	width: 82px;
  	height: 25px;
	margin-left: 30px;
	margin-top: 22px;
	margin-bottom: 22px;
}
/* nav.js end */

/* hero.js begin */
.hero-container {
	display: flex;
	flex-direction: column;
}

.hero-image {
	padding: 26px 37px 0px 37px;
	max-width: 500px;
}

.hero-text {
	padding: 0px 37px;
}

.hero-title {
	font-size: 36px;
	font-weight: 600;
	line-height: 40px;
}

.hero-paragraph {
	font-size: 16px;
	font-weight: 300;
	line-height: 18px;
	width: 320px;
}
/* hero.js end */

/* card.js begin */
.card-wrap {
	display: flex;
	max-width: 550px;
	padding-left: 37px;
}

.card-container {
	display: flex;
	flex-direction: column;
	padding-right: 18px;
	width: 176px;
	font-size: 12px;
}
.image-container {
	position: relative;
}

.card-image {
	height: 235px;
}

.reviewCount{
	margin-left: 3px;
}

.location {
	margin-left: 3px;
}
.card-span {
	position: absolute;
	top: 8px;
	left: 8px;
	color: #222222;
	background-color: white;
	font-size: 10px;
	line-height: 11px;
	font-weight: bold;
	padding: 6px 6px;
	border-radius: 2px;
}

.card-note {
	display: flex;
	align-items: center;
	max-width: 150px;
	word-spacing: 1px;
	margin-bottom: 0;
}

.star-logo {
	width: 14px;
	height: 14px;
	margin-right: 3px;
}

.grey {
	color: #918E9B;
}

.card-description {
	font-weight: 300;
	font-size: 12px;
	line-height: 13px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 176px;
}

.card-price {
	font-weight: 600;
	line-height: 13px;
	margin-top: auto;
	margin-bottom: 0;
}
.card-price > span {
	font-weight: 300;
	line-height: 13px;
	margin-bottom: 0;
}
/* card.js end */

